@model IEnumerable<FireSafetyStore.Web.Client.Infrastructure.DbContext.OrderMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOrderConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOrderCancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancellationReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAgentBoyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAgentContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameInPaymentCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOrderConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOrderCancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancellationReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAgencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAgentBoyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAgentContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameInPaymentCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
