<!DOCTYPE html>
<html>
<head>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="@Url.Content("~/Content/kendo/2016.2.504/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">FireSAFE Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (!Request.IsAuthenticated && (!User.IsInRole("Admin")  && !User.IsInRole("Employee") && !User.IsInRole("Customer")))
                    {
                        <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>                        
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown padleft-5 padright-5">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop by category
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Extinguishers & Equipment</a>
                                    <a class="dropdown-item" href="#">Smoke, Fire & Gas Detection</a>
                                    <a class="dropdown-item" href="#">Fire Doors & Accessories</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop by brand
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Fire Angel</a>
                                    <a class="dropdown-item" href="#">First Alert</a>
                                    <a class="dropdown-item" href="#">Geo Fire</a>
                                </div>
                            </div>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Employees", "Index", "Employee", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Customers", "Index", "Customer", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Unit", "Index", "UnitMaster", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Categories", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Brands", "Index", "Brands", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            <li class="nav-item active">@Html.ActionLink("Products", "Index", "Products", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>


    @*<div class="navbar navbar-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Fire-Safety Store Admininstration", "Index", "Home", null, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Fire-Safety Store", "Index", "Home", null, new { @class = "navbar-brand" })
                }

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (!Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>

                            <li>@Html.ActionLink("Unit", "Index", "UnitMaster")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Brands", "Index", "Brands")</li>
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@


    <main role="main">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; Copyright @DateTime.Now.Year - Firesafe Online Store, All Rights Reserved.</p>
            </footer>
        </div>
    </main>
    
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
