@using FireSafetyStore.Web.Client.Infrastructure.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <link href="@Url.Content("~/Content/kendo/2016.2.504/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.504/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.504/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.2.504/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.504/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.504/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.504/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @Html.ActionLink("FireSAFE", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (!Request.IsAuthenticated)
                    {
                        <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <li class="nav-item active">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="menuProductFilter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop by category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menuProductFilter">
                                @{
                                    var categories = CommonService.PopulateCategories();
                                    foreach (var item in categories)
                                    {
                                        @Html.ActionLink(item.Text, "Index", "Home", new { category = item.Value, brand = "" }, htmlAttributes: new { @class = "dropdown-item" });
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="menuBrandFilter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop by brands
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menuBrandFilter">
                                @{
                                    var brands = CommonService.PopulateBrands();
                                    foreach (var item in brands)
                                    {
                                        @Html.ActionLink(item.Text, "Index", "Home", new { category = "", brand = item.Value }, htmlAttributes: new { @class = "dropdown-item" });
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item">@Html.ActionLink("My Orders", "TrackOrder", "Order", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageWebMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Website
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageWebMenu">
                                @Html.ActionLink("Manage Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Categories", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Brands", "Index", "Brands", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Reports", "ReportHome", "Report", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageUserMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageUserMenu">
                                @Html.ActionLink("Manage Employees", "Index", "Employee", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Customers", "Index", "Customer", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item">@Html.ActionLink("Suppliers", "Index", "Suppliers", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Purchase Order", "Index", "PurchaseOrder", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Product", "Index", "Products", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageOrderMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageOrderMenu">
                                @Html.ActionLink("Manage All Orders", "Index", "Order", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Pending Orders", "DispatchOrderList", "Order", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })

                            </div>
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageWebMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Website
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageWebMenu">
                                @Html.ActionLink("Manage Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Categories", "Index", "Categories", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Brands", "Index", "Brands", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageProductMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageProductMenu">
                                @Html.ActionLink("Manage Suppliers", "Index", "Suppliers", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Purchase Orders", "Index", "PurchaseOrder", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                                @Html.ActionLink("Manage Products", "Index", "Products", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageOrderMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="manageOrderMenu">
                                @Html.ActionLink("Manage Pending Orders", "DispatchOrderList", "Order", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })

                            </div>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <div class="container">

                </div>
                <p>&copy; Copyright @DateTime.Now.Year - Firesafe Online Store, All Rights Reserved.</p>
            </footer>
        </div>
    </main>

    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
