@model FireSafetyStore.Web.Client.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <link href="~/Content/Cart.css" rel="stylesheet" />
}


<h5>My Shopping Cart</h5>
<hr />
<table style="width:100%">
    <tr>
        <th style="text-align:left;padding:2px">Item Name</th>
        <th style="text-align:left;padding:2px">Description</th>
        <th style="text-align:left;padding:2px">Quantity</th>
        <th style="text-align:left;padding:2px">Rate</th>
        <th style="text-align:left;padding:2px"></th>
    </tr>


    @foreach (var item in Model.ShoppingCartItems)
    {
        <tr>
            <td style="text-align:left;padding:2px">@item.ProductName</td>
            <td style="text-align:left;padding:2px">@item.Description</td>
            <td style="text-align:left;padding:2px">@item.Quantity</td>
            <td style="text-align:left;padding:2px">@item.Rate</td>
            <td style="text-align:left;padding:2px">@Html.ActionLink("X", "RemoveFromCart", "Shopping", new { id = item.ProductId }, htmlAttributes: new { @class = "glyphicon glyphicon-remove" })</td>
        </tr>

    }
</table>
<hr />

@Html.ActionLink("Checkout", "Checkout", "Shopping", null, htmlAttributes: new { @class = "btn btn-primary" })
@Html.ActionLink("Continue Shopping", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })





