@model FireSafetyStore.Web.Client.Models.ShoppingCartViewModel
@using FireSafetyStore.Web.Client.Infrastructure.Common;
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {

}


<h5>My Shopping Cart</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col"></th>
        </tr>
    </thead>

        @foreach (var item in Model.ShoppingCartItems)
        {
            <tbody>
                <tr>
                    <td scope="row">@item.ProductName</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Rate</td>
                    <td>@Html.ImageActionLink("Bin", "RemoveFromCart", "Shopping", new { id = item.ProductId }, null, imageSrc: "~/Content/images/bin.png")</td>
</tr>
            </tbody>
        }
</table>
    <hr />

    @Html.ActionLink("Checkout", "Checkout", "Shopping", null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Continue Shopping", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary" })





