@model FireSafetyStore.Web.Client.Models.ShoppingCartViewModel
@using FireSafetyStore.Web.Client.Infrastructure.Common;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*<link href="~/Content/Cart.css" rel="stylesheet" />*@
}


<h5>Order Summary</h5>
<hr />
@if (Model.ShoppingCartItems.Any())
{


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Rate</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>

        @foreach (var item in Model.ShoppingCartItems)
        {
            <tbody>
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>
                        @Html.ImageActionLink("Rem", "ModifyQuantity", "Shopping", new { id = item.ProductId, mode = "-" }, null, imageSrc: "~/Content/images/minus.png")
                        @Html.TextBoxFor(modelItem => item.Quantity, new { style = "width:35px;text-align:center", @readonly = "readonly" })
                        @Html.ImageActionLink("Add", "ModifyQuantity", "Shopping", new { id = item.ProductId, mode = "+" }, null, imageSrc: "~/Content/images/plus.png")
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td>
                        @Html.ImageActionLink("Bin", "RemoveFromCart", "Shopping", new { id = item.ProductId }, null, imageSrc: "~/Content/images/bin.png")
                    </td>
                </tr>

            </tbody>
        }
    </table>
    <hr />

    @Html.ActionLink("Proceed To Payment", "Payment", "Shopping", null, htmlAttributes: new { @class = "btn btn-primary" })
}
else
{
    <div class="alert alert-info" role="alert">
        Your shopping cart is empty
    </div>
}

