@model FireSafetyStore.Web.Client.Models.CheckoutViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/Scripts/custom/cart_controller.js"></script>
    <script src="~/Scripts/custom/jquery.creditCardValidator.js"></script>
}
<h4>Review your order and proceed to pay</h4>
@if (Model.OrderDetails.Any())
{
    using (Html.BeginForm("PlaceOrder", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align:left;padding:2px">Item Name</th>
                    <th style="text-align:left;padding:2px">Quantity</th>
                    <th style="text-align:left;padding:2px">Rate</th>
                    <th style="text-align:left;padding:2px">Total</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.OrderDetails)
                {

                    <tr>
                        <td style="text-align:left;padding:2px">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td style="text-align:left;padding:2px">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td style="text-align:left;padding:2px">
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td style="text-align:left;padding:2px">
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>


                }
                <tr>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px">Sub Total : @Model.OrderMaster.OrderAmount</th>
                </tr>
                <tr>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px">Shipping : @Model.OrderMaster.ShippingAmount</th>
                </tr>
                <tr>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px">GST(18%) : @Model.OrderMaster.Gst</th>
                </tr>
                <tr>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px"></th>
                    <th style="text-align:left;padding:2px">Total : @Model.OrderMaster.TotalAmount</th>
                </tr>
            </tbody>
        </table>
        <hr />
        <form class="needs-validation" novalidate>
            <h4 class="mb-3">Payment</h4>
            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">Debit card</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-name">Name on card</label>
                    <input type="text" class="form-control" id="cc-name" onblur="onccnamechanged();" placeholder="" required>
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-number">Card Number</label>
                    <input type="text" class="form-control" id="cc-number" onblur="onccnumberchanged();" placeholder="16 Digit Number" required>
                    <div class="invalid-feedback">
                        Card Number is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="cc-expiration">Expiration</label>
                    <div class="row">
                        <div class="col-md-6 mb-6">
                            <input type="text" class="form-control" id="cc-expiration-mm"  onblur="on_expiry_month_changed();" placeholder="MM" required>
                        </div>
                        <div class="col-md-6 mb-6">
                            <input type="text" class="form-control" id="cc-expiration-yyyy" onblur="on_expiry_year_changed();" placeholder="YYYY" required>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-cvv">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" onblur="oncvvchanged();" placeholder="XXX" required>
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>

            <hr class="mb-4">
            @*onclick="validatesubmit"*@
            <button id="btn-proccedpay" class="btn btn-primary btn-lg btn-block" type="submit" >Continue to checkout</button>
        </form>        
    }
}



